{% extends "skeleton.html" %}
{% block title %}
    About - CDC
{% endblock %}
{% block content %}

<div class="container">
	<h1>Our Charter</h1>

	<p>
		Dear Professionals at Coover Defense Contractors,
	</p>

	<p>
		The City of Ames Building Management Division is excited to announce 
		that your startup consulting firm has won the contract to provide cyber 
		security protective services to the technical infrastructure that 
		manages our buildings, alarms, locks, and more.
	</p>

	<p>
		To recap this newly-signed proposal, you will be working with your 
		team until COB September 28th, 2019. On Saturday, September 29th, an 
		experienced team of red team operators from a separate, undisclosed 
		firm will be conducting a realistic penetration test of our IT infrastructure.
	</p>

	<p>
		We have enormous pressure on us from the City to make sure that our 
		systems and network is secure from the mock attackers. As long as the 
		Saturday event goes well, we will be able to prove to the City and its 
		citizens that the Building Management Division of the City is willing 
		and ready to defend against advanced adversarial threats to our safety 
		and security.
	</p>

	<p>
		Please feel free to contact us with any questions via cdc_support@iastate.edu
	</p>

	<p>
		We look forward to seeing our technical environment evolve into a 
		defensible fortress over the next few weeks.
	</p>

	<p>
		Cheers,
	</p>

	<p>
		Building Management, City of Ames
	</p>
</div>

{% endblock %}