{% extends "skeleton.html" %} {% block content %}

<script>
function submitter(loc, typ) {
	var xhttp = new XMLHttpRequest();
	
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4) {
			document.getElementById("demo").innerHTML = this.responseText;
		}
	};
	
	if(typ == 'door') {
		xhttp.open("get", "/door/" + loc, true);
	} else {
		xhttp.open("get", "/alarm/" + loc, true);
	}
	
	xhttp.send();
	setTimeout(function() {
		location.reload();
	}, 1000);
}

setTimeout(function() {
	location.reload();
}, 10000);
</script>

<div style="text-align: center;">
	<p id="demo">No Action Running<p>
	<h4>You can only disable alarms from this interface.<h4>
	<h5 class="text-muted">Please use Devices to fully manage the alarms.</h5>
	<div class="btn-group-horizontal" style="margin: 10px auto; display: inline-block;">
		<button type="button" class="btn  {% if eal == "1" %}btn-success{% elif eal == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('east', 'hall')">East Alarm</button>
		<button type="button" class="btn  {% if wal == "1" %}btn-success{% elif wal == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('west', 'hall')">West Alarm</button>
		<button type="button" class="btn  {% if nal == "1" %}btn-success{% elif nal == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('north', 'hall')">North Alarm</button>
		<button type="button" class="btn  {% if sal == "1" %}btn-success{% elif sal == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('south', 'hall')">South Alarm</button>
	</div>
	<h4>You can manage all locks through this interface.<h4>
	<div class="btn-group-horizontal" style="margin: 10px auto; display: inline-block;">
		<button type="button" class="btn  {% if edo == "1" %}btn-success{% elif edo == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('east', 'door')">East Door</button>
		<button type="button" class="btn  {% if wdo == "1" %}btn-success{% elif wdo == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('west', 'door')">West Door</button>
		<button type="button" class="btn  {% if ndo == "1" %}btn-success{% elif ndo == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('north', 'door')">North Door</button>
		<button type="button" class="btn  {% if sdo == "1" %}btn-success{% elif sdo == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('south', 'door')">South Door</button>
	</div>
</div>
<script>
function myCanvas() {
	var c = document.getElementById("mapCanvas");
	var ctx = c.getContext("2d");
	var img = document.getElementById("map");
	ctx.drawImage(img, 10, 10, 1000, 772);
	{# //West Door     #}
	{% if wdo == "1" %} 
		ctx.fillStyle = 'green';
	{% elif wdo == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(65, 441, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //East Door #}
	{% if edo == "1" %} 
		ctx.fillStyle = 'green';
	{% elif edo == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(935, 480, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //South Door #}
	{% if sdo == "1" %} 
		ctx.fillStyle = 'green';
	{% elif sdo == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(350, 712, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //North Door #}
	{% if ndo == "1" %} 
		ctx.fillStyle = 'green';
	{% elif ndo == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(190, 117, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //West Alarm #}
	{% if wal == "1" %} 
		ctx.fillStyle = 'green';
	{% elif wal == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(218, 395, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //East Alarm #}
	{% if eal == "1" %} 
		ctx.fillStyle = 'green';
	{% elif eal == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(868, 398, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //South Alarm #}
	{% if sal == "1" %} 
		ctx.fillStyle = 'green';
	{% elif sal == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(370, 487, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //North Alarm #}
	{% if nal == "1" %} 
		ctx.fillStyle = 'green';
	{% elif nal == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(335, 199, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();
}
</script>

<canvas id="mapCanvas" width="1000" height="772" style="margin: 10px auto; display: block;">Your browser does not support the HTML5 canvas tag.</canvas>
<img onload="myCanvas();" src="/static/images/Coover_First_Floor.jpg" id="map" class="image-rounded" alt="Building map" style="width:1px;height:1px;">

{% endblock %}
