{% extends "skeleton.html" %} {% block content %}
<meta http-equiv="refresh" content="10">

<script>
function submitter(loc, typ) {
	alert(loc);
	var xhttp = new XMLHttpRequest();
	
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			document.getElementById("demo").innerHTML = this.responseText;
		}
	};
	
	if(typ == 'door') {
		xhttp.open("get", "{{ url_for("dor") }}"+loc, true);
	} else {
		xhttp.open("get", "{{ url_for("hal") }}"+loc, true);
	}
	
	xhttp.send();
	setTimeout(location.reload(), 1000);
}
</script>

<div style="text-align: center;">
	<p id="demo">No Action Running<p>
	<div class="btn-group-horizontal" style="margin: 10px auto; display: inline-block;">
		<button type="button" class="btn  {% if status[6] == "1" %}btn-success{% elif status[6] == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('east', 'hall')">East Hallway</button>
		<button type="button" class="btn  {% if status[7] == "1" %}btn-success{% elif status[7] == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('west', 'hall')">West Hallway</button>
		<button type="button" class="btn  {% if status[4] == "1" %}btn-success{% elif status[4] == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('north', 'hall')">North Hallway</button>
		<button type="button" class="btn  {% if status[5] == "1" %}btn-success{% elif status[5] == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('south', 'hall')">South Hallway</button>
	</div>
	<br>
	<div class="btn-group-horizontal" style="margin: 10px auto; display: inline-block;">
		<button type="button" class="btn  {% if status[2] == "1" %}btn-success{% elif status[2] == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('east', 'door')">East Door</button>
		<button type="button" class="btn  {% if status[3] == "1" %}btn-success{% elif status[3] == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('west', 'door')">West Door</button>
		<button type="button" class="btn  {% if status[0] == "1" %}btn-success{% elif status[0] == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('north', 'door')">North Door</button>
		<button type="button" class="btn  {% if status[1] == "1" %}btn-success{% elif status[1] == "0"  %}btn-danger{% else %}btn-warning{% endif %}  btn-lg" onclick="submitter('south', 'door')">South Door</button>
	</div>
</div>
<script>
function myCanvas() {
	var c = document.getElementById("mapCanvas");
	var ctx = c.getContext("2d");
	var img = document.getElementById("map");
	ctx.drawImage(img, 10, 10, 1000, 772);
	{# //West Door     #}
	{% if status[3] == "1" %} 
		ctx.fillStyle = 'green';
	{% elif status[3] == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(65, 441, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //East Door #}
	{% if status[2] == "1" %} 
		ctx.fillStyle = 'green';
	{% elif status[2] == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(935, 480, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //South Door #}
	{% if status[1] == "1" %} 
		ctx.fillStyle = 'green';
	{% elif status[1] == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(350, 712, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //North Door #}
	{% if status[0] == "1" %} 
		ctx.fillStyle = 'green';
	{% elif status[0] == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(190, 117, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //West Hall #}
	{% if status[7] == "1" %} 
		ctx.fillStyle = 'green';
	{% elif status[7] == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(218, 395, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //East Hall #}
	{% if status[6] == "1" %} 
		ctx.fillStyle = 'green';
	{% elif status[6] == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(868, 398, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //South Hall #}
	{% if status[5] == "1" %} 
		ctx.fillStyle = 'green';
	{% elif status[5] == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(370, 487, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();

	{# //North Hall #}
	{% if status[4] == "1" %} 
		ctx.fillStyle = 'green';
	{% elif status[4] == "0" %} 
		ctx.fillStyle = 'red';
	{% else %}
		ctx.fillStyle = 'black';
	{% endif %}
	ctx.beginPath();
	ctx.arc(335, 199, 10, 0, 2 * Math.PI);
	ctx.fill();
	ctx.stroke();
}
</script>

<canvas id="mapCanvas" width="1000" height="772" style="margin: 10px auto; display: block;">Your browser does not support the HTML5 canvas tag.</canvas>
<img onload="myCanvas();" src="/static/images/Coover_First_Floor.jpg" id="map" class="image-rounded" alt="Building map" style="width:1px;height:1px;">

{% endblock %}
